flows_nodered/flows (3).json
[
    {
        "id": "1837ebf4bb942f89",
        "type": "tab",
        "label": "ui",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "833ee50f315e8819",
        "type": "comment",
        "z": "1837ebf4bb942f89",
        "name": "Establecer la hora de en la que los sensores empesaran a ralizar mediciones",
        "info": "",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "3acbd69ef3e86e48",
        "type": "comment",
        "z": "1837ebf4bb942f89",
        "name": "Establecer la hora de en la que los sensores dejaran de ralizar mediciones",
        "info": "",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "2e0c0894e4684374",
        "type": "ui_form",
        "z": "1837ebf4bb942f89",
        "name": "",
        "label": "",
        "group": "c056d693e084a7cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Fecha",
                "value": "date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Hora",
                "value": "time",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "date": "",
            "time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "eaa3706f.a0ba1"
            ]
        ]
    },
    {
        "id": "845a17e1abbd6ce7",
        "type": "ui_text",
        "z": "1837ebf4bb942f89",
        "group": "c056d693e084a7cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tiempo inicio",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "eaa3706f.a0ba1",
        "type": "change",
        "z": "1837ebf4bb942f89",
        "name": "Extraer fechas",
        "rules": [
            {
                "t": "set",
                "p": "date1_unix",
                "pt": "msg",
                "to": "payload.date",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date2_unix",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "9473f39b.a8b7d8"
            ]
        ]
    },
    {
        "id": "9473f39b.a8b7d8",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "Sumar fechas",
        "func": "var date1_unix = Date.parse(msg.date1_unix);\nvar date2_unix = Date.parse(msg.date2_unix);\n\nvar sum_unix = date1_unix + date2_unix;\n\nmsg.payload = sum_unix;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "28b58b7f.037f8c"
            ]
        ]
    },
    {
        "id": "28b58b7f.037f8c",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "Convertir a segundos",
        "func": "var sum_unix_seconds = Math.floor(msg.payload / 1000);\nvar startTime = sum_unix_seconds-6*60*60;\nmsg.payload = startTime;\nflow.set(\"startTime\", startTime);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "845a17e1abbd6ce7",
                "1b4b40347785a7ee"
            ]
        ]
    },
    {
        "id": "085dfb37c31498e4",
        "type": "ui_form",
        "z": "1837ebf4bb942f89",
        "name": "",
        "label": "",
        "group": "9821e99db63ba5ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Fecha",
                "value": "date",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Hora",
                "value": "time",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "date": "",
            "time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "57835538c0b29017"
            ]
        ]
    },
    {
        "id": "ea3b19a560237113",
        "type": "ui_text",
        "z": "1837ebf4bb942f89",
        "group": "9821e99db63ba5ed",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tiempo final",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "57835538c0b29017",
        "type": "change",
        "z": "1837ebf4bb942f89",
        "name": "Extraer fechas",
        "rules": [
            {
                "t": "set",
                "p": "date1_unix",
                "pt": "msg",
                "to": "payload.date",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date2_unix",
                "pt": "msg",
                "to": "payload.time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "74155226ea0c3767"
            ]
        ]
    },
    {
        "id": "74155226ea0c3767",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "Sumar fechas",
        "func": "var date1_unix = Date.parse(msg.date1_unix);\nvar date2_unix = Date.parse(msg.date2_unix);\n\nvar sum_unix = date1_unix + date2_unix;\n\nmsg.payload = sum_unix;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "454fb795a3894b8c"
            ]
        ]
    },
    {
        "id": "454fb795a3894b8c",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "Convertir a segundos",
        "func": "var sum_unix_seconds = Math.floor(msg.payload / 1000);\nvar stopTime = sum_unix_seconds-6*60*60;\nmsg.payload = stopTime;\nflow.set(\"stopTime\", stopTime);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 480,
        "wires": [
            [
                "ea3b19a560237113"
            ]
        ]
    },
    {
        "id": "4f5ee7eb2b6427a4",
        "type": "ui_numeric",
        "z": "1837ebf4bb942f89",
        "name": "",
        "label": "Numero de nodos",
        "tooltip": "",
        "group": "94d23f96f120c93e",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "3e2cadd01d4f6024"
            ]
        ]
    },
    {
        "id": "b853a68ae560af2a",
        "type": "inject",
        "z": "1837ebf4bb942f89",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "4f5ee7eb2b6427a4",
                "3e2cadd01d4f6024"
            ]
        ]
    },
    {
        "id": "244c96b1b418cbed",
        "type": "inject",
        "z": "1837ebf4bb942f89",
        "name": "",
        "props": [
            {
                "p": "payload.time",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.date",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "085dfb37c31498e4"
            ]
        ]
    },
    {
        "id": "b72c48a3ecc42af3",
        "type": "inject",
        "z": "1837ebf4bb942f89",
        "name": "",
        "props": [
            {
                "p": "payload.time",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.date",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "2e0c0894e4684374"
            ]
        ]
    },
    {
        "id": "3e2cadd01d4f6024",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "global numNodes",
        "func": "var numNodes = msg.payload;\nflow.set(\"numNodes\", numNodes);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fd0d6c7c7a647638",
        "type": "inject",
        "z": "1837ebf4bb942f89",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "6b8b419ce2d4861a",
                "842c05650392b3b8"
            ]
        ]
    },
    {
        "id": "842c05650392b3b8",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "global period",
        "func": "var period = msg.payload;\nflow.set(\"period\", period);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "6b8b419ce2d4861a",
        "type": "ui_numeric",
        "z": "1837ebf4bb942f89",
        "name": "",
        "label": "Periodo",
        "tooltip": "",
        "group": "94d23f96f120c93e",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 300,
        "y": 640,
        "wires": [
            [
                "842c05650392b3b8"
            ]
        ]
    },
    {
        "id": "1b4b40347785a7ee",
        "type": "debug",
        "z": "1837ebf4bb942f89",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "b8953de2104fda20",
        "type": "ui_button",
        "z": "1837ebf4bb942f89",
        "name": "",
        "group": "6db9d4aa8602147d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Guardar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 940,
        "wires": [
            [
                "8aab1274fb8399df",
                "b390f8a2913e2277",
                "175965a0e3a95630",
                "7ad02d44b80fa149",
                "901c37d327614063",
                "2d11f5823bd585b8"
            ]
        ]
    },
    {
        "id": "8aab1274fb8399df",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "global config",
        "func": "global.set(\"startTime\", flow.get(\"startTime\"))\nglobal.set(\"stopTime\", flow.get(\"stopTime\"))\nglobal.set(\"numNodes\", flow.get(\"numNodes\"))\nglobal.set(\"period\", flow.get(\"period\"))\nglobal.set(\"numMeasurements\", flow.get(\"numMeasurements\"))\nvar config={\"numNodes\":flow.get(\"numNodes\"),\n            \"startTime\":flow.get(\"startTime\"),\n            \"stopTime\":flow.get(\"stopTime\"),\n            \"numMeasurements\":flow.get(\"numMeasurements\")\n            };\nmsg.payload=config;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 880,
        "wires": [
            [
                "e74d9f8447233510"
            ]
        ]
    },
    {
        "id": "63a492741618d6ce",
        "type": "ui_text",
        "z": "1837ebf4bb942f89",
        "group": "6db9d4aa8602147d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Timepo inicio",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 940,
        "wires": []
    },
    {
        "id": "60c353daa0b33ee4",
        "type": "ui_text",
        "z": "1837ebf4bb942f89",
        "group": "6db9d4aa8602147d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tiempo final",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e74d9f8447233510",
        "type": "debug",
        "z": "1837ebf4bb942f89",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 880,
        "wires": []
    },
    {
        "id": "b390f8a2913e2277",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "startTime",
        "func": "// Crear un objeto Date con el tiempo en milisegundos\nvar fecha = new Date(global.get(\"startTime\")*1000);\n// Ajustar la hora para UTC-6\nfecha.setUTCHours(fecha.getUTCHours() - 6);\n// Formatear la fecha y hora en un string\nvar fechaString = fecha.toISOString().replace(\"Z\", \"-06:00\");\nmsg.payload=fechaString;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 940,
        "wires": [
            [
                "63a492741618d6ce"
            ]
        ]
    },
    {
        "id": "175965a0e3a95630",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "stoptTime",
        "func": "// Crear un objeto Date con el tiempo en milisegundos\nvar fecha = new Date(global.get(\"stopTime\")*1000);\n// Ajustar la hora para UTC-6\nfecha.setUTCHours(fecha.getUTCHours() - 6);\n// Formatear la fecha y hora en un string\nvar fechaString = fecha.toISOString().replace(\"Z\", \"-06:00\");\nmsg.payload=fechaString;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1000,
        "wires": [
            [
                "60c353daa0b33ee4"
            ]
        ]
    },
    {
        "id": "9b418d7fd36c534f",
        "type": "ui_text",
        "z": "1837ebf4bb942f89",
        "group": "6db9d4aa8602147d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Número de nodos",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 1060,
        "wires": []
    },
    {
        "id": "eec529806d6d432a",
        "type": "ui_text",
        "z": "1837ebf4bb942f89",
        "group": "6db9d4aa8602147d",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Periodo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 1120,
        "wires": []
    },
    {
        "id": "901c37d327614063",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "numNodes",
        "func": "msg.payload=global.get(\"numNodes\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "9b418d7fd36c534f"
            ]
        ]
    },
    {
        "id": "7ad02d44b80fa149",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "period",
        "func": "msg.payload=global.get(\"period\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1120,
        "wires": [
            [
                "eec529806d6d432a"
            ]
        ]
    },
    {
        "id": "9473c17a87f7adee",
        "type": "inject",
        "z": "1837ebf4bb942f89",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "6750ca94f2d49ed5",
                "bfac13ac47597b84"
            ]
        ]
    },
    {
        "id": "bfac13ac47597b84",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "numMeasurements",
        "func": "var numMeasurements = msg.payload;\nflow.set(\"numMeasurements\", numMeasurements);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "6750ca94f2d49ed5",
        "type": "ui_numeric",
        "z": "1837ebf4bb942f89",
        "name": "",
        "label": "Número de mediciones",
        "tooltip": "",
        "group": "94d23f96f120c93e",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 740,
        "wires": [
            [
                "bfac13ac47597b84"
            ]
        ]
    },
    {
        "id": "2d11f5823bd585b8",
        "type": "function",
        "z": "1837ebf4bb942f89",
        "name": "numMeasurements",
        "func": "msg.payload=global.get(\"numMeasurements\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1180,
        "wires": [
            [
                "3602d229adb10279"
            ]
        ]
    },
    {
        "id": "3602d229adb10279",
        "type": "ui_text",
        "z": "1837ebf4bb942f89",
        "group": "6db9d4aa8602147d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Número de mediciones",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "41f62aa35054987c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69be84734762375c",
        "type": "mqtt in",
        "z": "41f62aa35054987c",
        "name": "",
        "topic": "time/request",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7d40449aa21a1456",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "80da58353898d605"
            ]
        ]
    },
    {
        "id": "fc379f967addd16f",
        "type": "mqtt out",
        "z": "41f62aa35054987c",
        "name": "",
        "topic": "time/response",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d40449aa21a1456",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "4f2181edeb4acb41",
        "type": "mqtt in",
        "z": "41f62aa35054987c",
        "name": "",
        "topic": "config/request",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7d40449aa21a1456",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "d0806ebe481c2921"
            ]
        ]
    },
    {
        "id": "6b8df52e11c919a3",
        "type": "mqtt out",
        "z": "41f62aa35054987c",
        "name": "",
        "topic": "config/response",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d40449aa21a1456",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "80da58353898d605",
        "type": "function",
        "z": "41f62aa35054987c",
        "name": "set time",
        "func": "var time=Math.floor(Date.now()/1000);\nmsg.payload=time;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "fc379f967addd16f",
                "21cccb7470235e81"
            ]
        ]
    },
    {
        "id": "d0806ebe481c2921",
        "type": "function",
        "z": "41f62aa35054987c",
        "name": "setConfig",
        "func": "var starTime=Math.floor(Date.now()/1000);\nmsg.payload={\n    \"command\":\"setConfig\",\n    \"nodeId\":0,\n    \"period\":global.get(\"period\"),\n    \"numMeasurements\":global.get(\"numMeasurements\"),\n    \"startTime\":global.get(\"startTime\"),\n    \"stopTime\":global.get(\"stopTime\")\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 560,
        "wires": [
            [
                "6b8df52e11c919a3"
            ]
        ]
    },
    {
        "id": "1da789b17e1aa741",
        "type": "inject",
        "z": "41f62aa35054987c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "80da58353898d605"
            ]
        ]
    },
    {
        "id": "45450c1f1a59ec68",
        "type": "inject",
        "z": "41f62aa35054987c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "d0806ebe481c2921"
            ]
        ]
    },
    {
        "id": "ecfe57a8bf03b1a3",
        "type": "mqtt out",
        "z": "41f62aa35054987c",
        "name": "",
        "topic": "nodeValues/request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d40449aa21a1456",
        "x": 1200,
        "y": 440,
        "wires": []
    },
    {
        "id": "884e83a834c376bf",
        "type": "function",
        "z": "41f62aa35054987c",
        "name": "getValues",
        "func": "var nodeIde = msg.payload;\nmsg.payload={\n    \"command\":\"getValues\",\n    \"nodeId\":nodeIde\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "ecfe57a8bf03b1a3",
                "2021227b28c762b9"
            ]
        ]
    },
    {
        "id": "2021227b28c762b9",
        "type": "debug",
        "z": "41f62aa35054987c",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 500,
        "wires": []
    },
    {
        "id": "8fdefca6a41fd133",
        "type": "inject",
        "z": "41f62aa35054987c",
        "name": "cada 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 380,
        "wires": [
            [
                "cd8fd174177b2e3f"
            ]
        ]
    },
    {
        "id": "21cccb7470235e81",
        "type": "debug",
        "z": "41f62aa35054987c",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 440,
        "wires": []
    },
    {
        "id": "37fd26d0b816498d",
        "type": "mqtt in",
        "z": "41f62aa35054987c",
        "name": "",
        "topic": "node/response",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7d40449aa21a1456",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 900,
        "wires": [
            [
                "1f6d3c3669e6ac50"
            ]
        ]
    },
    {
        "id": "2b2ff5674117aa22",
        "type": "function",
        "z": "41f62aa35054987c",
        "name": "values",
        "func": "// Obtener el payload del mensaje\nlet payload = msg.payload;\n\n// Verificar que el array de valores exista y sea un array\nif (Array.isArray(payload.values)) {\n    // Convertir cada elemento del array de strings a float\n    payload.values = payload.values.map(value => parseFloat(value));\n}\n\n// Asignar el payload modificado de vuelta al mensaje\nmsg.payload = payload;\n\n// Retornar el mensaje modificado\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 880,
        "wires": [
            [
                "a9492187ea69c1fb",
                "b896050787bc203e"
            ]
        ]
    },
    {
        "id": "f06725eeae69cf5f",
        "type": "mqtt out",
        "z": "41f62aa35054987c",
        "name": "",
        "topic": "nodeValues/request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d40449aa21a1456",
        "x": 520,
        "y": 1100,
        "wires": []
    },
    {
        "id": "abf51c96f9bbc44c",
        "type": "function",
        "z": "41f62aa35054987c",
        "name": "getInfo",
        "func": "var nodeIde = msg.payload;\nmsg.payload={\n    \"command\":\"getInfo\",\n    \"nodeId\":nodeIde\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1100,
        "wires": [
            [
                "f06725eeae69cf5f",
                "2a6a0797336360bd"
            ]
        ]
    },
    {
        "id": "2a6a0797336360bd",
        "type": "debug",
        "z": "41f62aa35054987c",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1160,
        "wires": []
    },
    {
        "id": "47caba36be565fb3",
        "type": "inject",
        "z": "41f62aa35054987c",
        "name": "nodo1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "abf51c96f9bbc44c"
            ]
        ]
    },
    {
        "id": "4aaffedad9266d0c",
        "type": "inject",
        "z": "41f62aa35054987c",
        "name": "nodo2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "abf51c96f9bbc44c"
            ]
        ]
    },
    {
        "id": "21d27a2ace39f096",
        "type": "inject",
        "z": "41f62aa35054987c",
        "name": "nodo3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "abf51c96f9bbc44c"
            ]
        ]
    },
    {
        "id": "217c26f557ae08fd",
        "type": "inject",
        "z": "41f62aa35054987c",
        "name": "nodo4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "abf51c96f9bbc44c"
            ]
        ]
    },
    {
        "id": "598718b7ba912e63",
        "type": "influxdb out",
        "z": "41f62aa35054987c",
        "influxdb": "4b7ce6c5982c0b05",
        "name": "",
        "measurement": "leq",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "PI",
        "bucket": "nivel_ruido",
        "x": 1010,
        "y": 920,
        "wires": []
    },
    {
        "id": "1f6d3c3669e6ac50",
        "type": "switch",
        "z": "41f62aa35054987c",
        "name": "",
        "property": "payload.values",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "2b2ff5674117aa22"
            ],
            [
                "2ceda85487986be0"
            ]
        ]
    },
    {
        "id": "a9492187ea69c1fb",
        "type": "debug",
        "z": "41f62aa35054987c",
        "name": "values",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 860,
        "wires": []
    },
    {
        "id": "b896050787bc203e",
        "type": "function",
        "z": "41f62aa35054987c",
        "name": "Formato influx",
        "func": "let values = msg.payload.values;\nlet times = msg.payload.time;\nlet nodeId = msg.payload.nodeId;\n\nlet result = [];\n\nfor (let i = 0; i < values.length; i++) {\n    let leqObject = { \"leq\": values[i], \"time\": times[i] };\n    let nodeObject = { \"nodo\": nodeId };\n    result.push([leqObject, nodeObject]);\n}\n\nmsg.payload = result;\nreturn msg;\n/*\nvar valInFlux  = [\n    [{\n        leq: values.values[0],\n        time:values.time[0]\n    },\n    {\n        nodo:values.nodeId\n    }\n    ],\n    [{\n        leq: values.values[1],\n        time: values.time[1]\n    },\n    {\n        nodo: values.nodeId\n    }]\n]\n\nmsg.payload=valInFlux;\nreturn msg;*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 900,
        "wires": [
            [
                "3bf794fb0eba3982",
                "598718b7ba912e63"
            ]
        ]
    },
    {
        "id": "3bf794fb0eba3982",
        "type": "debug",
        "z": "41f62aa35054987c",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 860,
        "wires": []
    },
    {
        "id": "2ceda85487986be0",
        "type": "debug",
        "z": "41f62aa35054987c",
        "name": "info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 960,
        "wires": []
    },
    {
        "id": "2920c3fd679f0bc5",
        "type": "ui_button",
        "z": "41f62aa35054987c",
        "name": "",
        "group": "6db9d4aa8602147d",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enviar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "80da58353898d605",
                "d0806ebe481c2921"
            ]
        ]
    },
    {
        "id": "cd8fd174177b2e3f",
        "type": "function",
        "z": "41f62aa35054987c",
        "name": "node id",
        "func": "var currentNode = flow.get(\"currentNode\")\nif (currentNode<global.get(\"numNodes\")){\n    currentNode++\n    flow.set(\"currentNode\", currentNode)\n}\nelse{\n    currentNode=1\n    flow.set(\"currentNode\", currentNode)\n}\nmsg.payload = currentNode\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 440,
        "wires": [
            [
                "884e83a834c376bf",
                "eba161ad3e94771d"
            ]
        ]
    },
    {
        "id": "eba161ad3e94771d",
        "type": "debug",
        "z": "41f62aa35054987c",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 280,
        "wires": []
    },
    {
        "id": "57031d516492cba2",
        "type": "inject",
        "z": "41f62aa35054987c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "4ff7a8beb59b8f2a"
            ]
        ]
    },
    {
        "id": "4ff7a8beb59b8f2a",
        "type": "function",
        "z": "41f62aa35054987c",
        "name": "function 8",
        "func": "flow.set(\"currentNode\", 0)\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c056d693e084a7cb",
        "type": "ui_group",
        "name": "Tiempo de inicio",
        "tab": "9b922abe560721cb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9821e99db63ba5ed",
        "type": "ui_group",
        "name": "Tiempo final",
        "tab": "9b922abe560721cb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94d23f96f120c93e",
        "type": "ui_group",
        "name": "Nodos",
        "tab": "9b922abe560721cb",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6db9d4aa8602147d",
        "type": "ui_group",
        "name": "Configuración",
        "tab": "9b922abe560721cb",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d40449aa21a1456",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.12",
        "port": "1883",
        "clientid": "node",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4b7ce6c5982c0b05",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "base de datos",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "9b922abe560721cb",
        "type": "ui_tab",
        "name": "Configuracion del sistema",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]