flows_nodered/flows(1).json
[
    {
        "id": "87b066a1106842e7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e97ae7ffea84887",
        "type": "mqtt in",
        "z": "87b066a1106842e7",
        "name": "ruido_avenidas",
        "topic": "nivel_ruido/sonometro/sono1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7d40449aa21a1456",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "a9c9634993fbe2df",
                "e0f12d75e4974c88"
            ]
        ]
    },
    {
        "id": "a9c9634993fbe2df",
        "type": "debug",
        "z": "87b066a1106842e7",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "e0f12d75e4974c88",
        "type": "function",
        "z": "87b066a1106842e7",
        "name": "function 3",
        "func": "var nivelRuido = msg.payload;\nmsg.payload = [\n    [{\n        ruido: nivelRuido,\n        time: new Date().getTime() - 1\n    },\n    {\n        tag1: \"sensor1\"\n    }]\n];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "3b624f044d4240fe"
            ]
        ]
    },
    {
        "id": "3b624f044d4240fe",
        "type": "influxdb out",
        "z": "87b066a1106842e7",
        "influxdb": "79af230609cffad3",
        "name": "base de datos",
        "measurement": "nivel_ruido",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "PI",
        "bucket": "nivel_ruido",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "4b189ad23ab60f47",
        "type": "influxdb in",
        "z": "87b066a1106842e7",
        "influxdb": "c243e5ee763e4845",
        "name": "",
        "query": "from(bucket: \"nivel_ruido\")\n  |> range(start: -1h, stop: now())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"nivel_ruido\")\n  |> filter(fn: (r) => r[\"_field\"] == \"ruido\")\n  |> filter(fn: (r) => r[\"tag1\"] == \"sensor1\")\n  |> aggregateWindow(every: 15m, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "PI",
        "x": 620,
        "y": 360,
        "wires": [
            [
                "ed453cc26d23f3df"
            ]
        ]
    },
    {
        "id": "ed453cc26d23f3df",
        "type": "debug",
        "z": "87b066a1106842e7",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "cd3d7af8a4a2bbc9",
        "type": "inject",
        "z": "87b066a1106842e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "4b189ad23ab60f47"
            ]
        ]
    },
    {
        "id": "904aad6c5acd222c",
        "type": "influxdb in",
        "z": "87b066a1106842e7",
        "influxdb": "c243e5ee763e4845",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "PI",
        "x": 560,
        "y": 620,
        "wires": [
            [
                "e7cfca1775c25f26"
            ]
        ]
    },
    {
        "id": "e7cfca1775c25f26",
        "type": "debug",
        "z": "87b066a1106842e7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "eee2b4d5002a3bcc",
        "type": "function",
        "z": "87b066a1106842e7",
        "name": "set query",
        "func": "msg.query = 'from(bucket: \"nivel_ruido\") |> range(start: -2h, stop: now())|> filter(fn: (r) => r[\"_measurement\"] == \"nivel_ruido\") |> filter(fn: (r) => r[\"_field\"] == \"ruido\") |> filter(fn: (r) => r[\"tag1\"] == \"sensor1\")|> aggregateWindow(every: 15m, fn: mean, createEmpty: false)|> yield(name: \"mean\")'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 540,
        "wires": [
            [
                "904aad6c5acd222c"
            ]
        ]
    },
    {
        "id": "2965bc9cd88446be",
        "type": "inject",
        "z": "87b066a1106842e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "eee2b4d5002a3bcc"
            ]
        ]
    },
    {
        "id": "7d40449aa21a1456",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.17.76.13",
        "port": "1883",
        "clientid": "yomi",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "79af230609cffad3",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "base de datos",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "c243e5ee763e4845",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "sensores",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    }
]